{% load staticfiles %}
<html>
    <head>
        <title>Pirttireetta's blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Rozha+One" rel="stylesheet">

    </head>
    <body>
        <div class="page-header">

            <h1><a href="/">Pirttireetta's Blog</a></h1>
        </div>

        <div class="post">
            <p>published: 04.11.2017, 12:14</p>
            <h2><a href="">The first post ever</a></h2>
            <p>Joulu tulee.</p>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>

        <div>
            <p>published: 04.11.2017, 12:14</p>
            <h2><a href="">The second post ever</a></h2>
            <p>Joulu tulee pian.</p>
        </div>
        <div>
            <p>published: 04.11.2017, 12:14</p>
            <h2><a href="">The third post ever</a></h2>
            <p>Joulu tulee aiemmin kuin arvaatkaan.</p>
        </div>

        {% for post in posts %}
            <div>
                <p>published: {{ post.published_date }}</p>
                <h1><a href="">{{ post.title }}</a></h1>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}

    </body>
</html>
